html {
  overflow-x: hidden;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
address,
variable,
form,
fieldset,
blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th,
caption {
  font-weight: normal;
  text-align: left;
}

img,
fieldset {
  border: 0;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

q:before,
q:after {
  content: "";
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*END OF RESET CSS*/

li {
  flex-direction: column;
}

ul {
  padding-top: 23px;
  justify-content: space-around;
}

h1 {
  display: block;
  position: relative;
  padding: 20px 0px;
  width: 350px;
  height: 100px;
  font-weight: bold;
  font-size: 30px;
}

.bold {
  font-weight: 700;
}

.flex_container {
  display: flex;
}

.left {
  float: left;
}

.right {
  float: right;
}

.principal_header {
  width: auto;
  height: 179px;
  background-color: #d33a2c;
}

.principal_header nav ul li {
  list-style: none;
  font-family: serif;
  margin-left: -78px;
}

.principal_header nav ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
}

.principal_header nav ul li a div > h2 {
  font-family: "Arial black";
  font-weight: bold;
  font-size: 1.3em;
  padding-top: 66px;
  margin-bottom: 5px;
}

.principal_header nav ul li a > h2 {
  font: 1.3em "Arial black";
  font-weight: bold;
}

.main_header_button {
  margin-top: 25px;
  margin-right: 60px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  font-size: 19px;
  font-weight: bold;
  border-color: white;
  padding: 0px;
  height: 50px;
  min-width: 200px;
  max-width: 300px;
}

.main_header_button:hover {
  background-color: white;
  border-radius: 10px;
  color: red;
  font-size: 19px;
  font-weight: bold;
  border-color: white;
  padding: 0px;
  height: 50px;
  min-width: 200px;
  max-width: 300px;
}

.nav_link:hover {
  color: black;
}

.principal_header nav ul li a span {
  font-style: italic;
}

.nav_icon {
  width: 150px;
  height: 130px;
  margin: 0 auto;
}

.nav_topics {
  width: 125px;
  height: 50px;
  border: 3px solid white;
  border-radius: 9px;
  margin-top: 45px;
}

.nav_topics a > i {
  padding: 5px 0 4px 6px;
  font-size: 18px;
}

.nav_topics a * {
  margin: 8px 4.5px;
}

.main_header {
  position: relative;
  justify-content: space-between;
  display: flex;
  left: 0;
  right: 0;
  background-color: blue;
  height: 100px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: green;
}

.box3 {
  background-color: blue;
}

.box4 {
  background-color: yellow;
}

.box1,
.box2,
.box3,
.box4 {
  height: 100%;
}

.latest_articles {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.latest_box {
  width: 100%;
  height: 100vh;
}

.box {
  width: 25%;
  height: 70vh;
  background: white;
  border-top: 20px solid white;
  padding: 50px;
}

.ad_1 {
  width: 25%;
  height: 70vh;
  border-top: 20px solid white;
}

.ad_2 {
  width: 50%;
  height: 70vh;
  border-top: 20px solid white;
}

.community_links {
  clear: left;
}

.latest_post {
  width: 95%;
  position: relative;
  margin: 0 auto;
}

.latest_posts_title {
  transform: rotate(90deg);
  display: block;
  font-size: 1.1em;
}

.line {
  height: 150px;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.678);
}

.marker {
  width: 40px;
  margin-left: 10px;
  position: relative;
  top: -15px;
  z-index: 1000;
  background-color: pink;
  float: left;
}

.latest_articles_link {
  width: 100vw;
  height: 300px;
  clear: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latest_articles_link a {
  border-bottom: 5px solid red;
  padding: 10px 0px 20px 0px;
  text-decoration: none;
  color: black;
}

.smashing_print {
  padding-top: 100px;
  height: 140vh;
  width: 100%;
  background: green linear-gradient(#009245 50%, #8bc53f 100%);
  justify-content: center;
  text-align: center;
}

.smashing_div {
  width: 70%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.smashing_div h1 {
  width: 100%;
  font-size: 3em;
  margin: 15px auto;
}

.smashing_div p,
.smashing_div > span {
  font-size: 1.8em;
}

.smashing_div p {
  width: 800px;
  margin: 25px auto;
}

.smashing_div > div {
  margin: 90px 0;
}

.smashing_div h1 > a {
  color: white;
}

.smashing_div img {
  width: 100%;
  height: auto;
}

.smashing_button {
  padding: 20px 60px;
  border-radius: 10px;
  background: white;
  border: 0;
  color: #267dcc;
  font-size: 1.8em;
  font-weight: 700;
}

.person_week {
  width: 93%;
  height: 450px;
  margin: 0 auto;
  padding: 70px 0px 0px 0px;
}

.person_week div {
  height: 300px;
  width: 300px;
  background-color: pink;
  float: left;
}

.person_week h3 {
  font-size: 23px;
}

.person_week p {
  margin: 30px;
  font-size: 23px;
}

.person_week_col_left {
  width: 95%;
  height: 120vh;
  margin: auto;
  background-color: lightblue;
}

.person_week_box {
  width: 50%;
  height: 400px;
  background-color: white;
  padding: 30px;
}

.person_week_box p {
  font-size: 22px;
  padding: 10px 0;
  line-height: 1.5em;
}

.person_week_picture {
  height: 80px;
  width: 80px;
  background-color: lime;
}

.text_container {
  width: 80%;
  margin-left: 80px;
}

.text_container span {
  color: grey;
  font-size: 0.8em;
  text-transform: uppercase;
}

.person_week_title {
  font-size: 2em;
  text-decoration: none;
  color: black;
  padding-top: 20px;
}

.person_week_author a {
  color: #666666;
  font: 22px;
}
/* Navbar hover effect */

.articles {
  background: url(../img/articles.png) no-repeat center top;
  transition: background 0.5s;
}

.articles:hover {
  background: url(../img/articles_hover.png) no-repeat center top;
}

.books {
  background: url(../img/books.png) no-repeat center top;
  transition: background 0.5s;
}

.books:hover {
  background: url(../img/books_hover.png) no-repeat center top;
}

.events {
  background: url(../img/events.png) no-repeat center top;
  transition: background 0.5s;
}

.events:hover {
  background: url(../img/events_hover.png) no-repeat center top;
}

.jobs {
  background: url(../img/jobs.png) no-repeat center top;
  transition: background 0.5s;
}

.jobs:hover {
  background: url(../img/jobs_hover.png) no-repeat center top;
}

.membership {
  background: url(../img/membership.png) no-repeat center top;
  transition: background 0.5s;
}

.membership:hover {
  background: url(../img/membership_hover.png) no-repeat center top;
}

/* -----------------------   */
.center {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-color: white;
  margin-left: calc(50% - 140px);
}

.smash_icon {
  background: url(../img/smashing_magazine.png) no-repeat;
  width: 255px;
  height: 100px;
}

/* ids */

/*MEDIA QUERy*/
@media only screen and (max-width: 600px) {
  .smash_icon {
    background: url(../img/smashing_s.png) no-repeat;
  }

  .nav_icon {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
  .box4 {
    display: none;
  }
}

@media only screen and (max-width: 1919px) {
  .latest_articles {
    grid-template-columns: 50% 50%;
  }
}
